<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="1.0.1" targetFramework="net40" />
  <package id="AjaxMin" version="4.97.4951.28483" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="iTextSharp" version="5.1.1" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.8.8" targetFramework="net40" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="2.1.0.3" targetFramework="net40" />
</packages>